* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
  
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 75%;
  font-weight: 900;
}

section {
  border: 3px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin: 30px;
  color: white;
  font-size: 65%;
  padding: 10px 10px 10px 10px;
  }
section > h4 {
  font-size: 75%;
  color: black;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  width: 30%;
  background: grey;
  float: right;  
}
section > h2 {
  font-size: 75%;
  color: black;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  width: 30%;
  background: lightgreen;
  float: right;  

  }
section > h3 {
  font-size: 75%;
  color: brown;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  width: 30%;
  background: lightblue;
  float: right;  
  }
.row {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  background-color: green;
  float: right;
  clear: right;
  
}

